/* hier fange ich css an */

/* hier lege ich Einfürungsstile fest */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* hier werde ich root einrichten */
:root {
    --primary-color: black;
    --primary-color-light: green;
    --primary-color-dark: red;
    --secondary-color: lightgrey;
    --secondary-color-light: lightgreen;
    --font-family: 'Arial', sans-serif;
    --font-size: 14px;
}

/* hier werde ich den body stylen */
body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100vh;
    padding: 2rem;
    margin-block: 2rem;
}

/* nun h1 wurde gestyled */
h1 {
    font-size: 2rem;
    color: var(--primary-color-light);
    text-align: center;
    margin: 2rem;
}

/* paragraph elemente werden hier gestyled */
p {
    font-size: 1rem;
    color: var(--primary-color);
    text-align: justify;
    margin: 1rem;
}

/* hier style ich h2 */
h2 {
    font-size: 1.2rem;
    color: var(--primary-color-light);
    text-align: center;
    margin: 1rem;
}

/* hier style ich caption tag */
caption {
    font-size: 1.2rem;
    color: var(--primary-color-light);
    text-align: center;
    margin: 1rem;
}

/* style ich table jetzt */
table {
    color: var(--primary-color-light);
    text-align: center;
    border: 3px solid var(--primary-color-light);
    border-radius: 1.5rem;
    padding: 1rem;
    margin-block: 3rem;
    }

th {
    background-color: var(--primary-color-light);
    color: var(--secondary-color);
    padding: 0.5rem;
    font-style: italic;
}

td {
    padding: 0.5rem;
    border: 3px solid var(--primary-color-light);
    color: var(--primary-color);
    font-weight: bold;
    font-style: normal;
}
.wochenende-farbe {
    color: var(--primary-color-dark);
}

/* hier style ich ul element */
ul {
    margin: 2rem;
    font-style: italic;
}

/* das ist styling für footer */
footer {
    text-align: center;
    margin-top: 3rem;
    color: var(--primary-color-light);
    font-size: 0.8rem;
    padding: 1rem;
}

