/* hier fange ich css an */

/* hier lege ich Einfürungsstile fest */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* hier werde ich root einrichten */
:root {
    --primary-color: green;
    --secondary-color: lightgrey;
    --secondary-color-dark: lightgrey;
    --font-family: 'Arial', sans-serif;
}

/* hier werde ich den body stylen */
body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}